table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 80%;
    margin-left: 120px;
  }
  
  th {
    background-color: #105dcaf8;
    font-weight: bold;
    padding: 8px;
    text-align: left;
    color: white;
  }
  
  td {
    border: 1px solid #dddddd;
    padding: 8px;
  }
    
  .container {
    margin-top: 20px;
    background-color: rgb(1, 18, 18);
    padding-bottom: 20px;
  }
  
  .form-control {
    width: 300px;
  }
  
  .btn-primary {
    margin-top: 10px;
  }

 
  
  